* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

@font-face {
    src: url(../fonts/mfont.ttf);
    font-family: 'mfont';
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'mfont';
    min-height: 100vh;
}

/* header */

.logo:hover .ilogo {
    animation: rotationinf 2s linear infinite
}

@keyframes rotationinf {

    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
     box-shadow: 10px 10px 10px rgba(2, 142, 235, 0.177);
}

.logo {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.05);
}

.ilogo {
    max-width: 35px;
    max-height: 35px;
}

.spanlogo {
    font-size: 1.1rem;
    margin-left: 10px;
    color: white;
}

.aacc {
    color: white;
    text-decoration: none;
}

.img {
    width: 23px;
}

nav a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    margin-left: 25px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-radius: 50px;
    padding: 0px 15px;
    height: 35px;
    gap: 5px;
    transition: all 0.1s ease;
}

.navhover:hover {
    transform: scale(1.03);
}

#contact {
    background-color: #0088ff;
}

#contact:hover {
    transform: scale(1.03);
}

/* MAIN */

main {
    flex: 1;
    width: 100%;
    min-height: calc(100vh - 50px - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #f3f4f6, #dbe2ef);
    padding: 100px 20px 60px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.contact-layout {
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.contact-info {
    flex: 1 1 40%;
    max-width: 460px;
    background: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.contact-info h2 {
    font-size: 1.7rem;
    color: #1C2E42;
    margin: 10px 0 20px;
    font-weight: 700;
}

.contact-info:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.nousc {
    text-decoration: none;
    color: #1C2E42;
    border: 1.5px solid #EEE;
    padding: 10px;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.nousc a img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.nousc a:hover {
    transform: translateX(10px);
    color: #082548;
}

.nousc a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1C2E42;
    transition: all 0.3s ease;
}

.socials {
    margin: 4px 8px;
}

.socials a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    transition: transform .2s ease;
}

.socials a:hover {
    transform: scale(1.1);
}

.socials img {
    width: 30px;
    height: 30px;
    display: block;
    filter: grayscale(20%);
}

.d1 {
    flex: 1 1 50%;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 20px 40px 40px;
    transition: all 0.3s ease;
}

.d1:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.d1 h2 {
    font-size: 1.7rem;
    color: #1C2E42;
    margin: 10px 0 20px;
    font-weight: 700;
}

.info {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #ccc;
    padding: 0 10px;
    color: #3b516b;
    background-color: #fafafa;
    transition: 0.3s;
}

.info:focus {
    border-color: #0088ff;
    outline: none;
    background-color: #fff;
}

#msg {
    width: 100%;
    height: 150px;
    padding: 10px;
    color: #3b516b;
    border: 1px solid #ccc;
    border-radius: 7px;
    resize: none;
    background-color: #fafafa;
    transition: 0.3s;
}

#msg:focus {
    border-color: #0088ff;
    background-color: #fff;
    outline: none;
    box-shadow: #0088ff;
}

button {
    display: block;
    margin-left: auto;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #0088ff;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    background-color: #0088ff;
}

@media (max-width: 575px) {

    /* header */

    .logo {
        display: none;
    }

    header {
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    nav a {
        font-size: 0.8rem;
        text-decoration: none;
        margin-left: 15px;
    }

    .img {
        display: none;
    }

    #culture,
    #tourisme,
    #sport,
    #contact,
    #accueil {
        padding: 0px 8px;
        height: 33px;
        gap: 5px;
    }

    #contact {
        display: none;
    }

    /* main */

    .contact-layout {
        flex-direction: column;
        gap: 20px;
    }

    .d1 {
        width: 100%;
        padding: 25px;
    }

    .contact-info {
        width: 100%;
        max-width: none;
    }

    button {
        font-size: 0.8rem;
    }

    .d1 h2 {
        font-size: 1.3rem;
    }

    .contact-info h2 {
        font-size: 1.3rem;
    }
}

@media (min-width: 575px) and (max-width: 825px) {

    /* header */

    .logo {
        display: none;
    }

    header {
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    nav a {
        font-size: 0.9rem;
        text-decoration: none;
        margin-left: 30px;
    }

    #culture,
    #tourisme,
    #sport,
    #contact,
    #accueil {
        padding: 0px 9px;
        height: 34px;
        gap: 5px;
    }

    #contact {
        display: none;
    }

    /* main */


    .contact-layout {
        flex-direction: column;
        gap: 20px;
    }

    .d1 {
        width: 100%;
        padding: 30px;
    }

    .contact-info {
        width: 100%;
        max-width: none;
    }

    .d1 h2 {
        font-size: 1.5rem;
    }

    .contact-info h2 {
        font-size: 1.5rem;
    }

}

@media (min-width: 825px) and (max-width: 991px) {

    /* header */

    header {
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 20px;
    }

    nav a {
        font-size: 0.8rem;
        text-decoration: none;
        margin-left: 15px;
    }

    #culture,
    #tourisme,
    #sport,
    #contact,
    #accueil {
        padding: 0px 10px;
        height: 35px;
        gap: 5px;
    }

    /* main */


    .d1 {
        padding: 35px;
    }

    .d1 h2 {
        font-size: 1.6rem;
    }

    .contact-info h2 {
        font-size: 1.6rem;
    }
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1B2D41;
    padding: 20px;
    width: 100%;
    color: white;
    padding: 15px 0;
    font-size: 0.9rem;
}

footer p {
    color: white;
    font-size: 1rem;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

.sitemap {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

.ulmap li {
    color: white;
}

.ulmap li:hover {
    text-decoration: underline;
}

#contactez {
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
    margin-left: 10px;
    color: rgb(255, 247, 0);
}