* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

@font-face {
    src: url(../fonts/mfont.ttf);
    font-family: 'mfont';
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'mfont';
    min-height: 100vh;
}

/* header */

.logo:hover .ilogo {
    animation: rotationinf 2s linear infinite
}

@keyframes rotationinf {

    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
     box-shadow: 10px 10px 10px rgba(33, 235, 2, 0.177);
}

.logo {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.03);
}

.ilogo {
    max-width: 35px;
    max-height: 35px;
}

.spanlogo {
    font-size: 1.1rem;
    margin-left: 10px;
}

.aacc {
    color: white;
    text-decoration: none;
}

.img {
    width: 23px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    margin-left: 25px;
    display: inline-block;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-radius: 50px;
    transition: all 0.3s ease;
}

#culture {
    display: inline-flex;
    align-items: center;
    color: white;
    background-color: #15ac2c;
    padding: 0px 15px;
    height: 35px;
    gap: 5px;
}

#accueil,
#tourisme,
#sport,
#contact {
    display: inline-flex;
    align-items: center;
    padding: 0px 15px;
    height: 35px;
    gap: 5px;
}

.navhover:hover {
    transform: scale(1.03);
}

#culture:hover {
    transform: scale(1.03);
}

/*MAIN*/

#par1,
#par2,
#par3,
#par4,
#par5,
#par6 {
    scroll-margin-top: 80px;
}

main {
    width: 100%;
    align-items: center;
    transition: all 0.3s ease;
    padding-bottom: 20px;
}

.imgbg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/culturebg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

#sh {
    color: #20c939;
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px;
}

h1 {
    color: white;
    font-size: 4rem;
    cursor: default;
    transition: all 0.3s ease;
}

h2 {
    color: #1C2E42;
    font-size: 2rem;
    margin: 40px 60px;
    cursor: default;
    transition: all 0.3s ease;
}

h3 {
    margin: 20px;
    color: #4980BB;
    cursor: default;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

h4 {
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;
}

p {
    font-size: 1.2rem;
    text-indent: 30px;
    transition: all 0.3s ease;
    text-align: justify;
}

.number {
    font-weight: bold;
}

.num {
    font-weight: bold;
}

.s {
    color: #20c939;
}

.sblue {
    font-size: larger;
    color: #4980BB;
}

.m-info {
    width: 100%;
    background-color: white;
    padding: 20px 60px;
    transition: all 0.3s ease;
}

.images {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;

}

.images .imge {
    object-fit: cover;
    border-radius: 7px;
    margin: 15px auto;
    width: 100%;
    height: 300px;
    transition: all 0.3s ease;
    box-shadow: 5px 5px 9px rgb(0, 0, 0, 0.2);
    padding: 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.images .imge:hover {
    transform: scale(1.15);
}

.images .imge:hover h6 {
    transition: all 1.5s ease;
    transform: translateX(-500px);
}

/* image src */

.imge h6 {
    transition: all 0.3s ease;
    transform: translateX(0);
    display: inline-block;
    color: white;
    font-size: 0.9rem;
    backdrop-filter: blur(2px);
    border: 1.4px solid white;
    border-radius: 50px;
    font-weight: normal;
    padding: 5px 10px;
}

#tbourida1 {
    background: url('../images/tbourida1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tbourida2 {
    background: url('../images/tbourida2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tbourida3 {
    background: url('../images/tbourida3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tbourida4 {
    background: url('../images/tbourida4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tbourida5 {
    background: url('../images/tbourida5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tbourida6 {
    background: url('../images/tbourida6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#artisana1 {
    background: url('../images/art1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#artisana2 {
    background: url('../images/art2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#artisana3 {
    background: url('../images/art3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#artisana4 {
    background: url('../images/art4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#artisana5 {
    background: url('../images/art5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#artisana6 {
    background: url('../images/art6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pat-arch1 {
    background: url('../images/arch1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pat-arch2 {
    background: url('../images/arch2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pat-arch3 {
    background: url('../images/arch3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pat-arch4 {
    background: url('../images/arch4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pat-arch5 {
    background: url('../images/arch5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pat-arch6 {
    background: url('../images/arch6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cuisson1 {
    background: url('../images/food1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cuisson2 {
    background: url('../images/food2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cuisson3 {
    background: url('../images/food3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cuisson4 {
    background: url('../images/food4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cuisson5 {
    background: url('../images/food5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cuisson6 {
    background: url('../images/food6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


ul {
    margin: 0px 30px;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1B2D41;
    padding: 20px;
    width: 100%;
}

footer p {
    color: white;
    font-size: 1rem;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

.sitemap {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

.ulmap li {
    color: white;
}

.ulmap li:hover {
    text-decoration: underline;
}

#contactez {
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
    margin-left: 10px;
    color: rgb(255, 247, 0);
     display: none;
}

@media (max-width: 575px) {

    /* HEADER*/

    .logo {
        display: none;
    }

    header {
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    nav a {
        font-size: 0.8rem;
        text-decoration: none;
        margin-left: 15px;
    }

    .img {
        display: none;
    }

    #culture,
    #tourisme,
    #sport,
    #contact,
    #accueil {
        padding: 0px 8px;
        height: 33px;
        gap: 5px;
    }

    #contact {
        display: none;
    }

    /*MAIN*/
    .imgbg {
        height: 250px;
    }

    p {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.1rem;
        margin: 20px 15px 15px;
    }

    h3 {
        font-size: 1rem;
        margin-top: 20px;
    }

    .m-info {
        padding: 0px 20px;
    }

    .images .imge {
        margin: 15px auto;
        width: 90%;
        height: 250px;
    }

    .imge h6 {
        font-size: 0.6rem;
        padding: 5px 10px;
    }

    /* footer */

    #contactez {
        display: block;
    }

}

@media (min-width: 575px) and (max-width: 825px) {

    /* HEADER*/

    .logo {
        display: none;
    }

    header {
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    nav a {
        font-size: 0.9rem;
        text-decoration: none;
        margin-left: 30px;
    }

    #culture,
    #tourisme,
    #sport,
    #contact,
    #accueil {
        padding: 0px 9px;
        height: 34px;
        gap: 5px;
    }

    #contact {
        display: none;
    }

    /*MAIN*/
    p {
        font-size: 0.9rem;
    }

    .imgbg {
        height: 300px;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
        margin-top: 20px;
    }

    h2 {
        font-size: 1.5rem;
        margin: 20px 15px 15px;
    }

    .m-info {
        padding: 5px 30px;
    }

    .imge h6 {
        font-size: 0.8rem;
        padding: 5px 8px;
    }

    /* footer */

    #contactez {
        display: block;
    }

}

@media (min-width: 825px) and (max-width: 991px) {

    /* HEADER*/

    header {
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 20px;
    }

    nav a {
        font-size: 0.8rem;
        text-decoration: none;
        margin-left: 15px;
    }

    #accueil {
        padding: 0px 10px;
        height: 35px;
        gap: 5px;
    }

    #culture,
    #tourisme,
    #sport,
    #contact,
    #accueil {
        padding: 0px 10px;
        height: 35px;
        gap: 5px;
    }

    /*MAIN*/
    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.1rem;
        margin-top: 25px;
    }

    h2 {
        font-size: 1.6rem;
        margin: 20px 50px;
        cursor: default;
    }

    .m-info {
        padding: 10px 35px;
    }

}