* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

@font-face {
    src: url(../fonts/mfont.ttf);
    font-family: 'mfont';
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'mfont';
    min-height: 100vh;
}

/* header */

.logo:hover .ilogo {
    animation: rotationinf 2s linear infinite
}

@keyframes rotationinf {

    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
     box-shadow: 10px 10px 10px rgba(235, 80, 2, 0.177);
}

.logo {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.03);
}

.ilogo {
    max-width: 35px;
    max-height: 35px;
}

.spanlogo {
    font-size: 1.1rem;
    margin-left: 10px;
}

.aacc {
    color: white;
    text-decoration: none;
}

.img {
    width: 23px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    margin-left: 25px;
    display: inline-block;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-radius: 50px;
    transition: all 0.1s ease;
}

#accueil {
    display: inline-flex;
    align-items: center;
    color: white;
    background-color: #f66206;
    padding: 0px 15px;
    height: 35px;
    gap: 5px;
}

#culture,
#tourisme,
#sport,
#contact {
    display: inline-flex;
    align-items: center;
    padding: 0px 15px;
    height: 35px;
    gap: 5px;
}

.navhover:hover {
    transform: scale(1.03);
}

#accueil:hover {
    transform: scale(1.03);
}

/* main */

#par1,
#par2,
#par3,
#par4 {
    scroll-margin-top: 80px;
}

main {
    width: 100%;
    align-items: center;
    transition: all 0.3s ease;
}

.imgbg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

#sh {
    color: #f66206;
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px;
}

h1 {
    color: white;
    font-size: 4rem;
    cursor: default;
    transition: all 0.3s ease;
}


h2 {
    color: #1C2E42;
    font-size: 2rem;
    margin: 40px 60px;
    cursor: default;
    transition: all 0.3s ease;
}


.sblue {
    font-size: larger;
    color: #4980BB;
}

.number {
    font-weight: bold;
}

h3 {
    margin: 20px;
    color: #4980BB;
    cursor: default;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

h4 {
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;
}

p {
    font-size: 1.2rem;
    text-indent: 30px;
    transition: all 0.3s ease;
    text-align: justify;
}

.sorang {
    color: #f66206;
}

#m-info {
    width: 100%;
    background-color: white;
    padding: 20px 60px;
    transition: all 0.3s ease;
}

.sbanner {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    transition: all 0.3s ease;
}

#banner2 {
    width: 100%;
    height: 50px;
    background: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 35px 0px;
}

#map {
    background: url('../images/m-map.png');
    width: 200px;
    height: 200px;
    float: right;
    margin: 4px 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #d4e1ed;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;

}

#map:hover {
    background: url('../images/map2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px dashed #b7babd;
    transform: scale(1.04);
}

h3:hover {
    text-decoration: underline;
}

#region {
    width: 100%;
    padding: 0px 60px;
}

table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    margin: 35px 0px;
    border-collapse: collapse;
    font-size: 1rem;

}

thead {
    background-color: #1B2D41;
}

th {
    color: white;
    padding: 20px 25px;
    border: 1px solid white;
}

td {
    border: 1px solid #1C2E42;
    padding: 15px 10px;
}

tr:hover td {
    background-color: #dfe4e9ad;
    cursor: pointer;
}


.s-monarchique {
    width: 100%;
    padding: 0px 60px;
}

.imgdecoration {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 60px;
    margin-bottom: 25px;
    margin-top: 30px;
}

#roi {
    background: url('../images/king.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: block;
    width: 900px;
    height: 500px;
    max-width: 100%;
    transition: all 0.3s ease;
    box-shadow: 5px 5px 4px rgb(0, 0, 0, 0.2);
    padding: 20px;
}

#roi div h6 {
    display: inline-block;
    color: white;
    font-size: 1rem;
    backdrop-filter: blur(2px);
    border: 1.4px solid white;
    border-radius: 50px;
    font-weight: normal;
    padding: 5px 10px;
}

#roi:hover {
    transform: scale(1.01);
}

#roi div {
    transition: all 0.3s ease;
    transform: translateX(0);
}

#roi:hover div {
    transition: all 1.5s ease;
    transform: translateX(-500px);
}

.mp3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    background-color: #1B2D41;
    padding: 20px;
    border-radius: 10px;
}

h5 {
    color: white;
    margin-bottom: 15px;
}

.divmedia {
    width: 100%;
    margin: 0px 30px;
}

audio {
    width: 100%;
}

.mp3 {
    transition: all 0.3s ease;
}

.mp3:hover {
    transform: scale(1.02);
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1B2D41;
    padding: 20px;
    width: 100%;
}

footer p {
    color: white;
    font-size: 1rem;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

.sitemap {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

.ulmap li {
    color: white;
}

.ulmap li:hover {
    text-decoration: underline;
}

#contactez {
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
    margin-left: 10px;
    color: rgb(255, 247, 0);
    display: none;
}

@media (max-width: 575px) {

    /* HEADER*/
    .logo {
        display: none;
    }

    header {
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    nav a {
        font-size: 0.8rem;
        text-decoration: none;
        margin-left: 15px;
    }

    .img {
        display: none;
    }

    #culture,
    #tourisme,
    #sport,
    #contact,
    #accueil {
        padding: 0px 8px;
        height: 33px;
        gap: 5px;
    }

    #contact {
        display: none;
    }

    /*MAIN*/
    .imgbg {
        height: 250px;
    }

    p {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.1rem;
        margin: 20px 15px 15px;
    }

    h3 {
        font-size: 1rem;
        margin-top: 20px;
    }

    #m-info {
        padding: 0px 20px;
    }

    #region {
        width: 100%;
        padding: 0px 20px;
    }

    #banner2 {
        width: 100%;
        height: 30px;
        background: url('../images/banner3.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 0px;
    }

    #map {
        float: right;
        width: 130px;
        height: 130px;
    }

    table {
        margin: 20px 0px;
        font-size: 0.7rem;
    }

    th {
        padding: 13px 16px;
    }

    td {
        padding: 9px 14px;
    }

    .s-monarchique {
        padding: 0px 20px;
    }

    .imgdecoration {
        padding: 0px 10px;

    }

    #roi {
        height: 230px;
        padding: 10px;
    }

    #roi div h6 {
        font-size: 0.6rem;
        padding: 5px 10px;
    }

    .mp3 {
        display: block;
        margin: 30px auto;
        padding: 15px;
    }

    .divmedia {
        margin: 15px 20px 10px auto;
    }

    h5 {
        font-size: 0.8rem;
    }

    /* footer */

    #contactez {
        display: block;
    }

}

@media (min-width: 575px) and (max-width: 825px) {

    /* HEADER*/
    .logo {
        display: none;
    }

    header {
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    nav a {
        font-size: 0.9rem;
        text-decoration: none;
        margin-left: 30px;
    }

    #culture,
    #tourisme,
    #sport,
    #contact,
    #accueil {
        padding: 0px 9px;
        height: 34px;
        gap: 5px;
    }

    #contact {
        display: none;
    }

    /*MAIN*/
    p {
        font-size: 0.9rem;
    }

    .imgbg {
        height: 300px;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
        margin-top: 20px;
    }

    h2 {
        font-size: 1.5rem;
        margin: 20px 15px 15px;
    }

    #m-info {
        padding: 5px 30px;
    }

    #region {
        width: 100%;
        padding: 5px 30px;
    }

    #banner2 {
        width: 100%;
        height: 30px;
        background: url('../images/banner2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 0px;
    }

    #map {
        width: 170px;
        height: 170px;
    }

    table {
        margin: 25px 0px;
        font-size: 0.8rem;
    }

    th {
        padding: 15px 18px;
    }

    td {
        padding: 11px 16px;
    }

    .imgdecoration {
        padding: 0px 15px;
    }

    #roi {
        height: 300px;
        padding: 15px;
    }

    #roi div h6 {
        font-size: 0.8rem;
        padding: 5px 8px;
    }

    .s-monarchique {
        padding: 0px 30px;
    }

    .mp3 {
        display: block;
        margin: 30px auto;
        padding: 20px;
    }

    h5 {
        font-size: 0.8rem;
    }

    .divmedia {
        margin: 0px 30px auto;
    }

    .mp3 {
        display: block;
        margin: 30px auto;
        padding: 15px;
    }

    .divmedia {
        margin: 15px 20px 10px auto;
    }

    /* footer */

    #contactez {
        display: block;
    }

}

@media (min-width: 825px) and (max-width: 991px) {

    /* HEADER*/

    header {
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 20px;
    }

    nav a {
        font-size: 0.8rem;
        text-decoration: none;
        margin-left: 15px;
    }

    #culture,
    #tourisme,
    #sport,
    #contact,
    #accueil {
        padding: 0px 10px;
        height: 35px;
        gap: 5px;
    }

    /*MAIN*/
    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.1rem;
        margin-top: 25px;
    }

    h2 {
        font-size: 1.6rem;
        margin: 20px 50px;
        cursor: default;
    }

    #m-info {
        padding: 10px 35px;
    }

    #region {
        width: 100%;
        padding: 0px 35px;
    }

    #banner2 {
        width: 100%;
        height: 40px;
        background: url('../images/banner1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 5px;
    }

    #map {
        width: 200px;
        height: 200px;
    }

    table {
        margin: 25px 0px;
        font-size: 0.9rem;
    }

    th {
        padding: 17px 20px;
    }

    td {
        padding: 13px 18px;
    }

    .s-monarchique {
        padding: 0px 35px;
    }

    .imgdecoration {
        padding: 0px 20px;

    }

    F .divmedia {
        width: 100%;
        margin: 15px 20px 10px;
    }

    .mp3 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 30px auto;
        background-color: #1B2D41;
        padding: 5px;
        border-radius: 10px;
    }
    
}