* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    src: url(../fonts/mfont.ttf);
    font-family: 'mfont';
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'mfont';
    min-height: 100vh;
}

footer {
    background-color: #1B2D41;
    padding: 20px;
}

footer p {
    color: white;
    margin-bottom: 30px;
}

footer a {
    color: white;
    text-decoration: none;
}