* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

@font-face {
    src: url(../fonts/mfont.ttf);
    font-family: 'mfont';
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'mfont';
    min-height: 100vh;
    overflow-x: hidden;
}

/* header */

.logo:hover .ilogo {
    animation: rotationinf 2s linear infinite
}

@keyframes rotationinf {

    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
     box-shadow: 10px 10px 10px rgba(235, 2, 2, 0.126);
}

.logo {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.03);
}

.ilogo {
    max-width: 35px;
    max-height: 35px;
}

.spanlogo {
    font-size: 1.1rem;
    margin-left: 10px;
}

.aacc {
    color: white;
    text-decoration: none;
}

.img {
    width: 23px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    margin-left: 25px;
    display: inline-block;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-radius: 50px;
    transition: all 0.1s ease;
}

#tourisme {
    display: inline-flex;
    align-items: center;
    color: white;
    background-color: #ec0505;
    padding: 0px 15px;
    height: 35px;
    gap: 5px;
}

#culture,
#sport,
#accueil,
#contact {
    display: inline-flex;
    align-items: center;
    padding: 0px 15px;
    height: 35px;
    gap: 5px;
}

.navhover:hover {
    transform: scale(1.03);
}

#tourisme:hover {
    transform: scale(1.03);
}

/*MAIN*/

main {
    width: 100%;
    align-items: center;
    transition: all 0.3s ease;
}

.m-info {
    width: 100%;
    background-color: white;
    padding: 20px 60px;
    transition: all 0.3s ease;
}

.dvideo h1 {
    position: relative;
    z-index: 1;
    text-align: center;
}

.dvideo {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dvideo video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#sh {
    color: #ec0505;
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px;
}

h1 {
    color: white;
    font-size: 4rem;
    cursor: default;
    transition: all 0.3s ease;
}

h2 {
    color: #1C2E42;
    font-size: 2rem;
    margin: 40px 60px;
    cursor: default;
    transition: all 0.3s ease;
}

h3 {
    margin: 20px;
    color: #4980BB;
    cursor: default;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

h4 {
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;
}

p {
    font-size: 1.2rem;
    text-indent: 30px;
    transition: all 0.3s ease;
    text-align: justify;

}

.number {
    font-weight: bold;
}

.num {
    font-weight: bold;
}

.sorang {
    color: #ec0505;
}

.pstatistique {
    background: #faf8f8ee;
    padding: 0px 20px 10px 20px;
    border-radius: 5px;
    text-align: justify;
}

.statistique {
    width: 100%;
}

table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
    font-size: 1rem;
}

thead {
    background-color: #1B2D41;
}

th {
    color: white;
    padding: 20px 25px;
    border: 1px solid white;
}

td {
    border: 1px solid #1C2E42;
    padding: 15px 10px;
}

tr:hover td {
    background-color: #dfe4e9ad;
    cursor: pointer;
}

.city {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;

}

.city .imgcity {
    object-fit: cover;
    border-radius: 20px;
    margin: 15px auto;
    width: 100%;
    height: 300px;
    transition: all 0.3s ease;
    box-shadow: 5px 5px 9px rgb(0, 0, 0, 0.2);
    padding: 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.imgcity h6 {
    transition: all 0.3s ease;
    transform: translateX(0);
    display: inline-block;
    color: white;
    font-size: 0.9rem;
    backdrop-filter: blur(2px);
    border: 1.4px solid white;
    border-radius: 50px;
    font-weight: normal;
    padding: 5px 10px;
}

.city .imgcity:hover {
    transform: scale(1.1);
    border-radius: 5px;
}

.city .imgcity:hover h6 {
    transition: all 1.5s ease;
    transform: translateX(-500px);
}

#fes {
    background: url('../images/fes.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#casa {
    background: url('../images/casa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#marrakech {
    background: url('../images/marrakech.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.regionlogo {
    border: 2px solid rgb(237, 215, 215);
    border-radius: 5px;
    width: 200px;
    height: 200px;
    float: right;
    margin: 15px;
    transition: all 0.3s ease;
}

.regionlogo:hover {
    transform: scale(1.05);
}


.divcard {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 25px;
    max-width: 100%;
    box-sizing: border-box;
}

.card {
    display: flex;
    height: 450px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px 0;
}

.cardimg {
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cardimg:hover {
    transform: scale(1.05) rotate(1deg);
}

#card1 {
    background-image: url('../images/plaisbahia.jpg');
}

#card2 {
    background-image: url('../images/place_jemaa_fenae.jpg');
}

#card3 {
    background-image: url('../images/marrakech_medina.jpg');
}

#card4 {
    background-image: url('../images/Jardin_Majorelle.jpg');
}

#card5 {
    background-image: url('../images/Medina-de-fes.jpg');
}

#card6 {
    background-image: url('../images/jnan-sbil.jpg');
}

#card7 {
    background-image: url('../images/quarawiyin.jpg');
}

#card8 {
    background-image: url('../images/chouara-tannery.jpg');
}

#card9 {
    background-image: url('../images/Hassan-II-Mosque.jpg');
}

#card10 {
    background-image: url('../images/casa-medina.jpg');
}

#card11 {
    background-image: url('../images/Quartier-habous-casablanca.jpg');
}

#card12 {
    background-image: url('../images/place-mouhamed-v.jpg');
}

.cardtxt {
    border: 2px solid rgb(237, 215, 215);
    width: 40%;
    border-radius: 0 8px 8px 0;
    height: 100%;
    background-color: white;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cardtxt .titlee {
    color: #1B2D41;
    font-weight: bold;
    text-align: start;
    margin: 5px 0 20px;
}

.cardtxt .content {
    color: #1B2D41;
    text-align: start;
    font-size: 1rem;
    text-align: justify;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1B2D41;
    padding: 20px;
    width: 100%;
}

footer p {
    color: white;
    font-size: 1rem;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

.sitemap {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

#par1,
#par2,
#par3,
#par4,
#par5,
#par6,
#par7 {
    scroll-margin-top: 80px;
}

.ulmap li {
    color: white;
}

.ulmap li:hover {
    text-decoration: underline;
}

#contactez {
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
    margin-left: 10px;
    color: rgb(255, 247, 0);
    display: none;
}

@media (max-width: 575px) {

    /* HEADER*/

    .logo {
        display: none;
    }

    header {
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    nav a {
        font-size: 0.8rem;
        text-decoration: none;
        margin-left: 15px;
    }

    .img {
        display: none;
    }

    #culture,
    #tourisme,
    #sport,
    #contact,
    #accueil {
        padding: 0px 8px;
        height: 33px;
        gap: 5px;
    }

    #contact {
        display: none;
    }

    /*MAIN*/
    .dvideo {
        height: 250px;
    }

    p {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.1rem;
        margin: 20px 15px 15px;
    }

    h3 {
        font-size: 1rem;
        margin-top: 20px;
    }

    .m-info {
        padding: 0px 20px;
    }

    table {
        margin: 20px 0px;
        font-size: 0.7rem;
    }

    th {
        padding: 13px 16px;
    }

    td {
        padding: 9px 14px;
    }

    .city .imgcity {
        margin: 15px auto;
        width: 90%;
        height: 250px;
    }

    .imgcity h6 {
        font-size: 0.6rem;
        padding: 5px 10px;
    }

    .regionlogo {
        width: 100px;
        height: 100px;
        margin: 5px 10px;
    }

    .divcard {
        grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
    }

    /* footer */

    #contactez {
        display: block;
    }
}

@media (min-width: 575px) and (max-width: 825px) {

    /* HEADER*/

    .logo {
        display: none;
    }

    header {
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    nav a {
        font-size: 0.9rem;
        text-decoration: none;
        margin-left: 30px;
    }

    #culture,
    #tourisme,
    #sport,
    #contact,
    #accueil {
        padding: 0px 9px;
        height: 34px;
        gap: 5px;
    }

    #contact {
        display: none;
    }

    /*MAIN*/
    p {
        font-size: 0.9rem;
    }

    .dvideo {
        height: 300px;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
        margin-top: 20px;
    }

    h2 {
        font-size: 1.5rem;
        margin: 20px 15px 15px;
    }

    .m-info {
        padding: 5px 30px;
    }

    table {
        margin: 25px 0px;
        font-size: 0.8rem;
    }

    th {
        padding: 15px 18px;
    }

    td {
        padding: 11px 16px;
    }

    .imgcity h6 {
        font-size: 0.8rem;
        padding: 5px 8px;
    }

    .divcard {
        grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
    }

    /* footer */

    #contactez {
        display: block;
    }

    .regionlogo {
        width: 130px;
        height: 130px;
        margin: 10px 13px;
    }

}

@media (min-width: 825px) and (max-width: 991px) {

    /* HEADER*/

    header {
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 20px;
    }

    nav a {
        font-size: 0.8rem;
        text-decoration: none;
        margin-left: 15px;
    }

    #accueil {
        padding: 0px 10px;
        height: 35px;
        gap: 5px;
    }

    #culture,
    #tourisme,
    #sport,
    #contact,
    #accueil {
        padding: 0px 10px;
        height: 35px;
        gap: 5px;
    }

    /*MAIN*/
    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.1rem;
        margin-top: 25px;
    }

    h2 {
        font-size: 1.6rem;
        margin: 20px 50px;
        cursor: default;
    }

    .m-info {
        padding: 10px 35px;
    }

    table {
        font-size: 0.9rem;
    }

    th {
        padding: 17px 20px;
    }

    td {
        padding: 13px 18px;
    }

    .regionlogo {
        width: 160px;
        height: 160px;
        margin: 15px 18px;
    }

}